<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfi с заботой о детях</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 align="center">Добро пожаловать</h1>
    </header>

    <main>
        <section>
            <h2 align="center">Семейное приложение Comfi о детях и родителях, семейном комфорте
                и помощи в решении трудных ситуаций.</h2>
            <h2 align="center">Наши услуги</h2>
            <p>Мы предлагаем широкий спектр услуг, включая веб-дизайн, разработку и SEO.</p>
        </section>
    </main>
    <div>
        <p>Вот очень интересная заметка в прекрасном прямоугольнике с тенью.</p>
      </div>
      
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2023 Мой первый сайт</p>
    </footer>
</body>
</html>